<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Timeline</h4>

            <h5>Custom Timeline</h5>
            <p-timeline [value]="customEvents" align="alternate" class="customized-timeline">
                <ng-template pTemplate="content" let-event>
                  <p-card>
                    <ng-container *ngIf="event.comments">
                      <p>{{ event.status }}</p>
                      <p>{{ event.comments }}</p>
                    </ng-container>
                    <p>{{ event.date }}</p>
                  </p-card>
                </ng-template>
                <ng-template pTemplate="marker" let-event>
                  <span
                    class="custom-marker"
                    [style.backgroundColor]="event.color"
                  >
                    <i [class]="event.icon"></i>
                  </span>
                </ng-template>
              </p-timeline>
              

            <h5 style="margin-top: 5em">Horizontal - Alternate Align</h5>
            <p-timeline [value]="horizontalEvents" layout="horizontal" align="alternate">
                <ng-template pTemplate="content" let-event>
                    {{event}}
                </ng-template>
                <ng-template pTemplate="opposite" let-event>
                    &nbsp;
                </ng-template>
            </p-timeline>
        </div>
    </div>
</div>
