<div class="grid">
    <div class="col-12">
        <div class="card">
          

            <h4>Linea de tiempo de la alerta</h4 >
         
            <p-timeline [value]="customEvents" align="alternate" class="customized-timeline">
                <ng-template pTemplate="content" let-event>
                  <p-card>
                    <ng-container *ngIf="event.comments">
                      <p>{{ event.status }}</p>
                      <p>{{ event.comments }}</p>
                    </ng-container>
                    <p>{{ event.date }}</p>
                  </p-card>
                </ng-template>
                <ng-template pTemplate="marker" let-event>
                  <span
                    class="custom-marker"
                    [style.backgroundColor]="event.color"
                  >
                    <i [class]="event.icon"></i>
                  </span>
                </ng-template>
              </p-timeline>
              

            
        </div>
    </div>
</div>
