<div class="grid">
    <div class="col-12">
        <div class="card">
          

            <h4>Linea de tiempo de la alerta</h4 >
         
            <p-timeline [value]="customEvents" align="alternate" class="customized-timeline">
                <ng-template pTemplate="content" let-event>
                  <p-card>
                    <div style="display: flex; justify-content: flex-end; margin-top: -15px;">
                      <span [class]="'customer-badge'" [style.background-color]="obtenerColor(event.statusonly)" style="font-size: 12px; font-weight: normal;">{{ event.statusonly }}</span>
                    </div>
                    <br>
                    <ng-container *ngIf="event.comments">
                      <p>{{ event.status }}</p>
                      <p>{{ event.comments }}</p>
                    </ng-container>
                    <p>{{ event.date }}</p>
                  </p-card>
                </ng-template>
                <ng-template pTemplate="marker" let-event>
                  <span
                    class="custom-marker"
                    [style.backgroundColor]="event.color"
                  >
                    <i [class]="event.icon"></i>
                  </span>
                </ng-template>
              </p-timeline>
              

            
        </div>
    </div>
</div>
