<div class="content-wrapper">
  <div class="location-picker">
    <!-- Contenedor del mapa -->
    <div id="map-container" style="position: relative;">
      <div id="map" style="height: 400px;"></div>

      <!-- Botón para volver a la ubicación original -->
      <button id="center-button" (click)="centerMap()" class="map-button">
        📍 Centrar
      </button>
    </div>

    <!-- Formulario -->
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="address">Dirección</label>
        <input
          type="text"
          id="address"
          [(ngModel)]="address"
          name="address"
          class="form-control"
          placeholder="Selected address"
          readonly
        />
      </div>
      <label for="alertTypeId">Selecciona un tipo de alerta:</label><br />
      <select [(ngModel)]="alertTypeId" name="alertTypeId" id="alertTypeId" class="form-control">
        <option value="1">Hueco o Bache</option>
        <option value="2">Semáforo Dañado</option>
        <option value="3">Luminaria Dañada</option>
        <option value="4">Luminaria Dañada</option>
      </select>

      <div class="form-group">
        <label for="observations">Comentarios</label>
        <textarea
          id="observations"
          [(ngModel)]="observations"
          name="observations"
          class="form-control"
          rows="3"
          placeholder="Escriba sus observaciones"
        ></textarea>
      </div>
      <span class="p-buttonset">
				<button pButton pRipple label="Enviar" icon="pi pi-check" type="submit"></button>
				<button pButton pRipple label="Limpiar" icon="pi pi-times" type="reset"></button>
			</span>
    </form>
  </div>
</div>
