<div class="grid p-fluid">
    <div class="col-12 md:col-6">
        <div class="card">
            <h1>Registrar usuario</h1>
            <p>Complete los datos para registrar el usuario</p>

            <form class="forms" [formGroup]="registerForm">
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                        <div [ngClass]="{'invalid': email.invalid && (email.dirty || email.touched), 'valid': email.valid}">
                            <small><span *ngIf="email.hasError('required')" class="text-danger">Este campo es requerido </span></small>
                            <small><span *ngIf="email.hasError('email')" class="text-danger">Ingrese un email válido </span></small>
                            <small><span *ngIf="email.hasError('minlength')" class="text-danger">Mínimo 6 caracteres </span></small>
                            <small><span *ngIf="email.hasError('maxlength')" class="text-danger">Máximo 100 caracteres </span></small>
                          </div>
                          <span class="p-input-icon-left">
                            <i class="pi pi-at"></i>
                            <input type="email" formControlName = "email" pInputText id="email" placeholder="Correo / email">
                        </span>
                        <br>
                    </div>
                </div>
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                        <div [ngClass]="{'invalid': name.invalid && (name.dirty || name.touched), 'valid': name.valid}">
                            <small><span *ngIf="name.hasError('required')" class="text-danger">Este campo es requerido </span></small>
                            <small><span *ngIf="name.hasError('minlength')" class="text-danger">Mínimo 6 caracteres </span></small>
                            <small><span *ngIf="name.hasError('maxlength')" class="text-danger">Máximo 100 caracteres </span></small>
                        </div>
                        <span class="p-input-icon-left">
                            <i class="pi pi-user"></i>
                            <input type="text" formControlName= "name" pInputText id="name" placeholder="Nombres y Apellidos">
                        </span> 
                        <br>                        
                    </div>
                </div>                    
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                        <div [ngClass]="{'invalid': phone.invalid && (phone.dirty || phone.touched), 'valid': phone.valid}">
                            <small><span *ngIf="phone.hasError('required')" class="text-danger">Este campo es requerido </span></small>
                            <small><span *ngIf="phone.hasError('maxlength')" class="text-danger">Máximo 200 caracteres </span></small>
                        </div> 
                        <span class="p-input-icon-left">
                            <i class="pi pi-building"></i>
                            <input type="text" formControlName= "phone" pInputText id="phone" placeholder="Phone">
                        </span> 
                        <br>                         
                    </div>                 
                </div>
                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                        <div [ngClass]="{'invalid': password.invalid && (password.dirty || password.touched), 'valid': password.valid}">
                            <small><span *ngIf="password.hasError('required')" class="text-danger">Este campo es requerido </span></small>
                            <small><span *ngIf="password.hasError('maxlength')" class="text-danger">Máximo 20 caracteres </span></small>
                        </div>
                        <span class="p-input-icon-left">
                            <i class="pi pi-users"></i>
                            <input type="text" formControlName= "password" pInputText id="password" placeholder="Password">
                        </span>
                        <br>                     
                    </div>
                </div>

                <div class="grid formgrid">
                    <div class="col-12 md:col-6">
                        <div [ngClass]="{ 'has-error': usr_option.hasError('required') }">
                            <small><span *ngIf="phone.hasError('required')" class="text-danger">Este campo es requerido </span></small>
                            <small>
                                <span *ngIf="usr_option.hasError('required')" class="text-danger">
                                    Seleccione una opción
                                </span>
                            </small>
                        </div>
                        <div class="login-input-wrapper">
                            <p-dropdown 
                                formControlName="usr_option" 
                                [options]="options" 
                                placeholder="Seleccione una opción">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                
                <br>

                <div class="grid formgrid">
                    <div class="col-12 mb-2 lg:col-6 lg:mb-0">                
                        <span class="p-buttonset">
                            <button pButton pRipple label="Registrar" type="submit" (click)="submit()" [disabled]="registerForm.invalid" icon="pi pi-check"></button>
                            <a href="#/dash" pButton pRipple label="Cancel" icon="pi pi-times"></a>
                        </span>
                    </div>
                </div>
            </form>                
        </div>
    </div>
</div>
