<div class="content-wrapper" *ngIf="roleid=='3'"> <!--3 Ciudadano-->
    <div style="text-align: center;">
        <span class="p-buttonset">
            <button pButton pRipple class="button-xs" label="Atrás" icon="pi pi-times" type="button" (click)="GoBack()"></button>
            <button pButton pRipple class="button-xs" label="Registrado" icon="pi pi-desktop" type="button" (click)="LoadReport(1)" [disabled]="!isRegistrado"></button>
            <button pButton pRipple class="button-xs" label="Revisión" icon="pi pi-user" type="button" (click)="LoadReport(2)" [disabled]="!isAsignado"></button>
            <button pButton pRipple class="button-xs" label="Finalizado" icon="pi pi-check" type="button" (click)="LoadReport(3)" [disabled]="!isFinalizado"></button>
        </span>
    </div>
    <div class="report-list-container" >
        <!--<h2>Reportes de Usuario</h2>-->
        <ul class="report-list">
            <li *ngFor="let report of reports" class="report-item px-12">
            <table border="0" width="100%">
                <tr>
                    <td width="60%">
                        <div>
                            <p-chip label="HUECO O BACHE" icon="pi pi-map-marker" *ngIf="report.AlertTypeId=='1'" styleClass="m-1"></p-chip>
                            <p-chip label="SEMÁFORO DAÑADO" icon="pi pi-map-marker" *ngIf="report.AlertTypeId=='2'" styleClass="m-1"></p-chip>
                            <p-chip label="LUMINARIA DAÑADA" icon="pi pi-map-marker" *ngIf="report.AlertTypeId=='3'" styleClass="m-1"></p-chip>
                            <p-chip label="ALERTA DE SEGURIDAD" icon="pi pi-map-marker" *ngIf="report.AlertTypeId=='4'" styleClass="m-1"></p-chip>
                        </div>
                    </td>
                    <td width="40%" style="text-align: right;">
                        <div>
                            <span [class]="'customer-badge'" [style.background-color]="obtenerColor(report.AlertStatusDescription)" style="font-size: 12px; font-weight: normal;">{{ report.AlertStatusDescription }}</span>
                        </div>
                    </td>
                </tr>


            </table>
            <br>
            <h3>Dirección: {{ report.Address }}</h3>
            <p><strong>Nombre Usuario:</strong> {{ report.Notifier }}</p>
            <!--<p><strong>Estado: </strong> <span [class]="'customer-badge'" [style.background-color]="obtenerColor(report.AlertStatusDescription)" style="font-size: 12px; font-weight: normal;">{{ report.AlertStatusDescription }}</span></p>-->
            <p><strong>Comentarios:</strong> {{ report.Comments }}</p>
            <p><strong>Fecha:</strong> {{ report.CreatedAt | date: 'yyyy/MM/dd HH:mm' }}</p>
            <!-- Botones de acciones -->
            <div style="display: flex; justify-content: flex-end;">
                <button pButton pRipple type="button" icon="pi pi-pencil" 
                class="p-button-rounded p-button-primary mr-2 mb-2" 
                (click)="openEditDialog(report)" 
                pTooltip="Editar" tooltipPosition="top" *ngIf="!isRegistrado || !isAsignado">
                </button>
                <button pButton pRipple type="button" icon="pi pi-times" 
                    class="p-button-rounded p-button-danger mr-2 mb-2" 
                    (click)="deleteReport(report.Id)" 
                    pTooltip="Eliminar" tooltipPosition="top" *ngIf="!isRegistrado">
                </button> 
                <button pButton pRipple type="button" icon="pi pi-clock" 
                    class="p-button-rounded p-button-info mr-2 mb-2" 
                    (click)="redirect(report)" 
                    pTooltip="Historia" tooltipPosition="top">
                </button> 
            </div>
        </li>
        </ul>
    </div>
</div>

<!-- Analista - Tabla de Reportes -->
<div class="grid" *ngIf="roleid=='2'"> <!--2 Analista-->
    <div class="col-12">
        <div class="card px-6 py-6">
            <span class="p-buttonset">
                <button pButton pRipple label="Volver" icon="pi pi-times" type="button" (click)="GoBack()"></button>
				<button pButton pRipple label="Registrados" icon="pi pi-desktop" type="button" (click)="LoadReport(1)" [disabled]="!isRegistrado"></button>
				<button pButton pRipple label="Mis Asignados" icon="pi pi-user" type="button" (click)="LoadReport(2)" [disabled]="!isAsignado"></button>
                <button pButton pRipple label="Finalizados" icon="pi pi-check" type="button" (click)="LoadReport(3)" [disabled]="!isFinalizado"></button>
			</span>
            <br>
            <p-toast></p-toast>
            <p-table #dt [value]="reports" [columns]="cols" responsiveLayout="scroll" 
                [rows]="10" [globalFilterFields]="['CreatedAt','Address','AlertStatusDescription','Comments']"
                [paginator]="true" [rowsPerPageOptions]="[10,20,50,100]" [showCurrentPageReport]="true" 
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" 
                [(selection)]="selectedRows" selectionMode="multiple" [rowHover]="true" dataKey="Id"
                [loading]="loading" loadingIcon="pi pi-spin pi-spinner"
                [sortField]="'CreatedAt'" [sortOrder]="-1">
                
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Reporte Alertas</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="CreatedAt">Fecha Creación <p-sortIcon field="CreatedAt"></p-sortIcon></th>
                        <th pSortableColumn="Address">Dirección <p-sortIcon field="Address"></p-sortIcon></th>
                        <th pSortableColumn="Notifier">Nombre Usuario <p-sortIcon field="Notifier"></p-sortIcon></th>
                        <th pSortableColumn="Comments">Observaciones <p-sortIcon field="Comments"></p-sortIcon></th>
                        <th pSortableColumn="AlertStatusDescription">Estado <p-sortIcon field="AlertStatusDescription"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-report>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="report"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Fecha Creación</span>
                            {{ report.CreatedAt | date: 'yyyy/MM/dd HH:mm' }}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Dirección</span>
                            {{ report.Address }}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Nombre Usuario</span>
                            {{ report.Notifier }}
                        </td>                     
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Observaciones</span>
                            {{ report.Comments }}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Estado</span>
                            <span [class]="'customer-badge'" [style.background-color]="obtenerColor(report.AlertStatusDescription)" style="font-size: 12px; font-weight: normal;">{{ report.AlertStatusDescription }}</span>
                        </td> 
                        <td style="text-align: right;">
                            <div class="flex" style="margin-left: auto; width: fit-content;">
                                <button pButton pRipple type="button" icon="pi pi-pencil" 
                                class="p-button-rounded p-button-primary mr-2 mb-2" 
                                (click)="openEditDialog(report)" 
                                pTooltip="Editar" tooltipPosition="top" *ngIf="isFinalizado">
                                </button>
                                <button pButton pRipple type="button" icon="pi pi-clock" 
                                    class="p-button-rounded p-button-info mr-2 mb-2" 
                                    (click)="redirect(report)" pTooltip="Historia" tooltipPosition="top">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-dialog [(visible)]="editDialog" [style]="{width: '450px', height: '450px' }" header="Editar Reporte" [modal]="true">
    <ng-template pTemplate="content">
        <div class="field" style="display: flex; flex-direction: column; align-items: center; width: 100%;">
            <!-- Campo de Comentarios -->
            <label for="edit-comments" style="align-self: flex-start; font-weight: bold; margin-bottom: 8px;">Comentarios</label>
            <textarea id="edit-comments" pInputText [(ngModel)]="editComments" rows="3" 
                placeholder="Ingrese sus comentarios de actualización"
                style="width: 90%; max-width: 90%; min-width: 90%;">
            </textarea>
        </div>

        <!-- Mostrar solo si el rol es '2' (Analista) -->
        <div class="field" *ngIf="roleid === '2'" style="display: flex; flex-direction: column; align-items: center; width: 100%; margin-top: 15px;">
            <label for="edit-status" style="align-self: flex-start; font-weight: bold; margin-bottom: 8px;">Estado</label>
            <p-dropdown id="edit-status" [(ngModel)]="selectedStatus" [options]="filteredStatusOptions" 
            optionLabel="label" optionValue="value"
            placeholder="Seleccione el estado" [ngStyle]="{'width': '90%'}">
        </p-dropdown>
        
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div style="display: flex; justify-content: flex-end; width: 100%;">
            <button pButton label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="editDialog = false"></button>
            <button pButton label="Guardar" icon="pi pi-check" class="p-button-text" (click)="editReport()" [disabled]="isSaving"></button>
        </div>
    </ng-template>
</p-dialog>
<div *ngIf="loading" class="spinner-overlay">
    <div class="spinner">
        <span class="ball-1"></span>
        <span class="ball-2"></span>
        <span class="ball-3"></span>
        <span class="ball-4"></span>
        <span class="ball-5"></span>
        <span class="ball-6"></span>
        <span class="ball-7"></span>
        <span class="ball-8"></span> 
    </div>
</div>


  